*{
    box-sizing: border-box;
}
.football{
    /* padding: 20px; */
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #aeaeb5;
    border-radius: 6px;
    margin: 0 auto;
    width: 95%;
    background-color: rgb(162, 214, 238);

}

.container{
    margin: 4px auto;
    /* margin-right: 40px; */
    display: grid;
    width: 95%;
    background-color: white;
}
#s1{
    border: 2px solid #aeaeb5;
    border-radius: 6px;
    border-bottom: none;
    display: grid;
    grid-template-columns: auto auto auto;

}
#s2{
    border: 2px solid #aeaeb5;
    border-radius: 6px;
    border-bottom: none;
    display: grid;
    grid-template-columns: auto auto auto;
}
#s3{
    border: 2px solid #aeaeb5;
    border-radius: 6px;
    border-bottom: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
#s4{
    border: 2px solid #aeaeb5;
    border-radius: 6px;
    display: grid;
    grid-template-rows: auto auto auto;
}
#s4 select{
    width: 100%;
}
.country,.state,.city{
    margin: auto;
    padding: none;
    width: 75%;
    /* text-align: center; */
    /* border: 1px solid black */
}
.user,.name,.phoneNum,.email,.team,.position,.address{
    border-right: 2px solid #aeaeb5;
    border-radius: 6px;
}
.fieldPhone{
    display: grid;
    grid-template-columns: auto auto auto;
}
.phoneNum{
    display: grid;
    grid-template-rows: auto auto;
    /* grid-template-columns: auto auto; */
}
.email{
    display: grid;
    grid-template-rows: auto auto;
}
.mail_checkbox{
    display: grid;
    grid-template-columns: auto auto;
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
.slider.round {
    border-radius: 17px;
  }
  
.slider.round:before {
   border-radius: 50%;
}
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
input{
    display: block;
    float: left;
}
label{
    display: block;
    margin-bottom: 5px;
}
img{
    border-radius: 3px;
    float:right;
}
.iconPhoto{
    padding: none;
    margin-right: 25px;
}
input[type="text"],input[type="email"],select{
    width: 100%;
    border: 2px solid #aeaeb5;
    border-radius: 6px;
    font-size: 12px;
    padding: 2px;
    /* margin-top: 5px; */
}
input:focus,select:focus,textarea:focus{
    outline: none;
    border-color: #2c9be6;
    box-shadow: 0 0 8px #2c9be6;
    background-color: #e7e7eb;
}
.wrong{
    outline: none;
    border: none;
    /* border: 2px solid rgba(255, 0, 26, 0.77); */
    border-color: rgba(255, 0, 26, 0.77);
    box-shadow: 0 0 10px rgba(255, 0, 26, 0.77);
}
.fieldText{
    padding: 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.astr{
    color: red;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.submitBtn{
    padding: 5px;
    margin: 8px auto;
    width: 20%;
}
.submit{
    width: 100%;
    background-color: rgb(73, 150, 238);
    color: white;
    padding: 5px;
    border: 0px none;
    border-radius: 8px;
}
.submit:hover{
    background-color: rgb(33, 127, 235);
}
.submit:disabled{
    background-color: rgb(158, 193, 233);
}

button.retBtn {
    width: 100%;
    background-color: rgb(73, 150, 238);
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    border: 0px none;
    border-radius: 8px;
}
button.retBtn:hover{
    background-color: rgb(33, 127, 235);
}
button.retBtn:disabled{
    background-color: rgb(158, 193, 233);
}